<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.dingdong.mapper.PlanMapper">
    <resultMap id="planMap" type="plan">
        <id column="id" property="id"/><!-- 主键id -->
        <result column="plan_date" property="planDate"/><!-- 下单日 -->
        <result column="user_id" property="userId"/><!-- 下单人id -->
        <result column="user_name" property="userName"/><!-- 下单人 -->
        <result column="user_real_name" property="userRealName"/><!-- 下单人真实姓名 -->
        <result column="product_id" property="productId"/><!-- 商品id -->
        <result column="product_name" property="productName"/><!-- 商品名称 -->
        <result column="plan_count" property="planCount"/><!-- 下单数量 -->
        <result column="deliver_province_code" property="deliverProvinceCode"/><!-- 收货地址省级code -->
        <result column="deliver_city_code" property="deliverCityCode"/><!-- 收货地址市级code -->
        <result column="deliver_region_code" property="deliverRegionCode"/><!-- 收货地址区级code -->
        <result column="deliver_address" property="deliverAddress"/><!-- 详细收货地址 -->
    </resultMap>

    <insert id="insert" parameterType="plan" useGeneratedKeys="true" keyProperty="id">
        insert into plan(
        <trim prefix="" prefixOverrides=",">
            <if test="planDate != null">,plan_date</if>
            <if test="userId != null">,user_id</if>
            <if test="userName != null">,user_name</if>
            <if test="userRealName != null">,user_real_name</if>
            <if test="productId != null">,product_id</if>
            <if test="productName != null">,product_name</if>
            <if test="planCount != null">,plan_count</if>
            <if test="deliverProvinceCode != null">,deliver_province_code</if>
            <if test="deliverCityCode != null">,deliver_city_code</if>
            <if test="deliverRegionCode != null">,deliver_region_code</if>
            <if test="deliverAddress != null">,deliver_address</if>
        </trim>
        )values(
        <trim prefix="" prefixOverrides=",">
            <if test="planDate != null">,#{planDate,jdbcType=TIMESTAMP}</if>
            <if test="userId != null">,#{userId,jdbcType=BIGINT}</if>
            <if test="userName != null">,#{userName,jdbcType=VARCHAR}</if>
            <if test="userRealName != null">,#{userRealName,jdbcType=VARCHAR}</if>
            <if test="productId != null">,#{productId,jdbcType=BIGINT}</if>
            <if test="productName != null">,#{productName,jdbcType=VARCHAR}</if>
            <if test="planCount != null">,#{planCount,jdbcType=INTEGER}</if>
            <if test="deliverProvinceCode != null">,#{deliverProvinceCode,jdbcType=VARCHAR}</if>
            <if test="deliverCityCode != null">,#{deliverCityCode,jdbcType=VARCHAR}</if>
            <if test="deliverRegionCode != null">,#{deliverRegionCode,jdbcType=VARCHAR}</if>
            <if test="deliverAddress != null">,#{deliverAddress,jdbcType=VARCHAR}</if>
        </trim>
        )
    </insert>

    <update id="update" parameterType="plan">
        update plan
        <set>
            <if test="planDate != null">plan_date=#{planDate,jdbcType=TIMESTAMP},</if>
            <if test="userId != null">user_id=#{userId,jdbcType=BIGINT},</if>
            <if test="userName != null">user_name=#{userName,jdbcType=VARCHAR},</if>
            <if test="userRealName != null">user_real_name=#{userRealName,jdbcType=VARCHAR},</if>
            <if test="productId != null">product_id=#{productId,jdbcType=BIGINT},</if>
            <if test="productName != null">product_name=#{productName,jdbcType=VARCHAR},</if>
            <if test="planCount != null">plan_count=#{planCount,jdbcType=INTEGER},</if>
            <if test="deliverProvinceCode != null">deliver_province_code=#{deliverProvinceCode,jdbcType=VARCHAR},</if>
            <if test="deliverCityCode != null">deliver_city_code=#{deliverCityCode,jdbcType=VARCHAR},</if>
            <if test="deliverRegionCode != null">deliver_region_code=#{deliverRegionCode,jdbcType=VARCHAR},</if>
            <if test="deliverAddress != null">deliver_address=#{deliverAddress,jdbcType=VARCHAR},</if>
        </set>
        where id=#{id}
    </update>

    <select id="load" parameterType="long" resultMap="planMap">
    		select * from plan where id=#{id}
    	</select>

    <sql id="queryCommonSql">
        FROM plan p
        <where>
            <if test="idArray != null">
                p.id in
                <foreach collection="idArray" index="index" item="item" open="(" separator="," close=")">#{item}
                </foreach>
            </if>
            <if test="planDateFrom != null">and p.plan_date >= #{planDateFrom}</if>
            <if test="planDateTo != null">
                <![CDATA[and p.plan_date < date_add(#{planDateTo}, interval 1 day)]]>
            </if>
            <if test="userId != null">and p.user_id = #{userId}</if>
            <if test="userName != null and userName.trim() !=''">and p.user_name = #{userName}</if>
            <if test="userRealName != null and userRealName.trim() !=''">and p.user_real_name = #{userRealName}</if>
            <if test="productId != null">and p.product_id = #{productId}</if>
            <if test="productName != null and productName.trim() !=''">and p.product_name = #{productName}</if>
            <if test="planCount != null">and p.plan_count = #{planCount}</if>
            <if test="deliverProvinceCode != null and deliverProvinceCode.trim() !=''">and p.deliver_province_code =
                #{deliverProvinceCode}
            </if>
            <if test="deliverCityCode != null and deliverCityCode.trim() !=''">and p.deliver_city_code =
                #{deliverCityCode}
            </if>
            <if test="deliverRegionCode != null and deliverRegionCode.trim() !=''">and p.deliver_region_code =
                #{deliverRegionCode}
            </if>
            <if test="deliverAddress != null and deliverAddress.trim() !=''">and p.deliver_address = #{deliverAddress}
            </if>
        </where>
    </sql>

    <sql id="sortSql">
        <choose>
            <when test="sort != null and sort.trim() !=''">
                order by ${sort}
            </when>
            <otherwise>
                order by p.plan_date DESC
            </otherwise>
        </choose>
    </sql>

    <select id="queryList" parameterType="planQuery" resultMap="planMap">
        select p.id
        ,p.plan_date
        ,p.user_id
        ,p.user_name
        ,p.user_real_name
        ,p.product_id
        ,p.product_name
        ,p.plan_count
        ,p.deliver_province_code
        ,p.deliver_city_code
        ,p.deliver_region_code
        ,p.deliver_address
        <include refid="queryCommonSql"/>
        <include refid="sortSql"/>
        <if test="pageSize > 0">
            limit ${startRow},${pageSize}
        </if>
    </select>

    <select id="queryCount" parameterType="planQuery" resultType="int">
        select count(1)
        <include refid="queryCommonSql"/>
    </select>

    <update id="updateStatus" parameterType="plan">
		update plan set status=#{status} where   id=#{id} 	</update>

    <update id="updateIsDeleted" parameterType="plan">
        update plan set is_deleted=#{isDeleted} where   id=#{id}     </update>

    <delete id="delete" parameterType="long">
    		delete from plan where id=#{id}
    	</delete>
</mapper>