<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.dingdong.mapper.PubRegionMapper">
    <resultMap id="pubRegionMap" type="pubRegion">
        <id column="CODE" property="code"/><!-- 按照国家规则的统一编码来 -->
        <result column="PARENT_CODE" property="parentCode"/><!-- 上一级地区的编码 -->
        <result column="REGION_NAME" property="regionName"/><!-- 地区名字 -->
        <result column="REGION_TYPE" property="regionType"/><!-- 地区类型，0：国家，1： 省份/直辖市，2：市，3：县/区 -->
        <result column="STATUS" property="status"/><!-- 1、正常 -1、失效 -->
        <result column="ABBNAME" property="abbname"/><!-- 区域别名 -->
        <result column="" property="postCode"/><!-- 邮编 -->
    </resultMap>post_code

    <insert id="insert" parameterType="pubRegion">
        insert into
        pub_region(
        CODE
        <if test="parentCode != null">,PARENT_CODE</if>
        <if test="regionName != null">,REGION_NAME</if>
        <if test="regionType != null">,REGION_TYPE</if>
        <if test="status != null">,STATUS</if>
        <if test="abbname != null">,ABBNAME</if>
        <if test="postCode != null">,POST_CODE</if>
        )values(
        #{code}
        <if test="parentCode != null">,#{parentCode,jdbcType=VARCHAR}</if>
        <if test="regionName != null">,#{regionName,jdbcType=VARCHAR}</if>
        <if test="regionType != null">,#{regionType,jdbcType=NUMERIC}</if>
        <if test="status != null">,#{status,jdbcType=NUMERIC}</if>
        <if test="abbname != null">,#{abbname,jdbcType=VARCHAR}</if>
        <if test="postCode != null">,#{postCode,jdbcType=VARCHAR}</if>
        )
    </insert>

    <update id="update" parameterType="pubRegion">
        update pub_region
        <set>
            <if test="parentCode != null">PARENT_CODE=#{parentCode,jdbcType=VARCHAR},</if>
            <if test="regionName != null">REGION_NAME=#{regionName,jdbcType=VARCHAR},</if>
            <if test="regionType != null">REGION_TYPE=#{regionType,jdbcType=NUMERIC},</if>
            <if test="status != null">STATUS=#{status,jdbcType=NUMERIC},</if>
            <if test="abbname != null">ABBNAME=#{abbname,jdbcType=VARCHAR},</if>
            <if test="postCode != null">POST_CODE=#{postCode,jdbcType=VARCHAR},</if>
        </set>
        where CODE=#{code}
    </update>

    <select id="load" parameterType="string" resultMap="pubRegionMap">
    		select * from pub_region where CODE=#{code}
    	</select>

    <sql id="queryCommonSql">
        FROM pub_region pr
        <where>
            <if test="codeArray != null">
                pr.CODE in
                <foreach collection="codeArray" index="index" item="item" open="(" separator="," close=")">#{item}
                </foreach>
            </if>
            <if test="parentCode != null and parentCode.trim() !=''">and pr.PARENT_CODE = #{parentCode}</if>
            <if test="regionName != null and regionName.trim() !=''">and pr.REGION_NAME = #{regionName}</if>
            <if test="regionTypeFrom != null">and pr.REGION_TYPE >= #{regionTypeFrom}</if>
            <if test="regionTypeTo != null"><![CDATA[and pr.REGION_TYPE <= #{regionTypeTo}]]></if>
            <choose>
                <when test="status != null">and pr.STATUS = #{status}</when>
                <when test="statusArray != null">
                    and pr.STATUS in
                    <foreach collection="statusArray" index="index" item="item" open="(" separator="," close=")">#{item}
                    </foreach>
                </when>
            </choose>
            <if test="abbname != null and abbname.trim() !=''">and pr.ABBNAME = #{abbname}</if>
            <if test="postCode != null and postCode.trim() !=''">and pr.POST_CODE = #{postCode}</if>
        </where>
    </sql>

    <select id="queryList" parameterType="pubRegionQuery" resultMap="pubRegionMap">
        select pr.CODE
        <choose>
            <when test="columns != null and columns.length>0">
                <foreach collection="columns" index="index" item="item">,${item}</foreach>
            </when>
            <otherwise>
                ,pr.PARENT_CODE
                ,pr.REGION_NAME
                ,pr.REGION_TYPE
                ,pr.STATUS
                ,pr.ABBNAME
                ,pr.POST_CODE
            </otherwise>
        </choose>
        <include refid="queryCommonSql"/>
        <if test="pageSize > 0">
            limit ${startRow},${pageSize}
        </if>
    </select>

    <select id="queryCount" parameterType="pubRegionQuery" resultType="int">
        select count(1)
        <include refid="queryCommonSql"/>
    </select>

    <update id="updateStatus" parameterType="pubRegion">
		update pub_region set status=#{status} where   CODE=#{code} 	</update>

    <update id="updateIsDeleted" parameterType="pubRegion">
        update pub_region set is_deleted=#{isDeleted} where   CODE=#{code}     </update>

    <delete id="delete" parameterType="string">
    		delete from pub_region where CODE=#{code}
    	</delete>
</mapper>